.task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    margin-left: 32px;
    background-color: #21212B;
    border-radius: 24px;
    margin-top: 24px;
    padding: 24px;
}

.task__date {
    margin-left: 36px;
    color: #3A9593;
}
