.input {
  position: relative;
}

.input__field {
  display: flex;
  background-color: transparent;
  border: 2px solid #21212b;
  width: 100%;
  padding: 8px;
  border-radius: 20px;
  height: 48px;
  color: white;
  padding-left: 48px;
  outline: none;
}

.input__button {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .input {
    width: 100%;
  }
}
