.checkbox {
    width: 100vw;
    height: 24px;
    display: flex;
    align-items: center;
    margin: 24px;
}

.checkbox__box {
    border-radius: 10px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    border: 2px solid #FB76A1;
}

.checkbox__box--checked {
    background-color: #FB76A1;
}

.checkbox__text--checked {
    text-decoration: line-through;
}

.checkbox__text {
    font-size: 16px;
}
